<a href="https://colab.research.google.com/github/ylmgrbzz/Heart-Disease-Prediction-using-SVM-KNN-RandomForest-LogisticRegression/blob/main/Heart_Disease_Prediction_using_SVM_KNN_RandomForest_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [3]:
df = pd.read_csv("Heart.csv",na_values='?')

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  slope       104 non-null    float64
 11  ca          3 non-null      float64
 12  thal        28 non-null     float64
 13  num         294 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 32.3 KB

In [6]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,104.000000,3.0,28.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,1.894231,0.0,5.642857,0.360544
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.338995,0.0,1.615074,0.480977
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,1.000000,0.0,3.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,2.000000,0.0,5.250000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,2.000000,0.0,6.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,2.000000,0.0,7.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,3.000000,0.0,7.000000,1.000000

In [7]:
df = df.drop(columns = ["slope","ca","thal"],axis=1)

In [8]:
df=df.dropna()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [9]:
df["sex"].value_counts()

1    192
0     69
Name: sex, dtype: int64

In [10]:
df["cp"].value_counts()

4    113
2     92
3     46
1     10
Name: cp, dtype: int64

In [11]:
df["restecg"].value_counts()

0.0    208
1.0     47
2.0      6
Name: restecg, dtype: int64

In [12]:
df["fbs"].value_counts()

0.0    242
1.0     19
Name: fbs, dtype: int64

In [13]:
df = pd.get_dummies(df,columns=["cp","restecg"])
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,num,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [14]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'num       ', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0'],
      dtype='object')

In [15]:
df=df.rename(columns={"num       ":"target"})

In [16]:
numerical_cols=["age","trestbps","chol","thalach","oldpeak"]
cat_cols=list(set(df.columns)-set(numerical_cols)-{"target"})

In [17]:
df["oldpeak"].value_counts()

0.0    165
1.0     36
2.0     28
1.5     15
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: oldpeak, dtype: int64

In [18]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [19]:
cat_cols

['restecg_1.0',
 'sex',
 'restecg_2.0',
 'cp_4',
 'cp_2',
 'fbs',
 'exang',
 'cp_1',
 'cp_3',
 'restecg_0.0']

In [20]:
numerical_cols

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [21]:
df_train,df_test = train_test_split(df,test_size=0.2,random_state=42)

In [22]:
len(df_train) , len(df_test)

(208, 53)

In [23]:
scaler= StandardScaler()

def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler):
  x_numeric_scaled = scaler.fit_transform(df[numerical_cols])
  x_categorical=df[cat_cols].to_numpy()
  x=np.hstack((x_categorical,x_numeric_scaled))
  y=df["target"]

  return x,y

In [24]:
x, y =  get_features_and_target_arrays(df_train,cat_cols,numerical_cols,scaler)

In [25]:
x

array([[ 5.40000000e+01,  1.20000000e+02,  2.37000000e+02, ...,
        -2.00000000e-01,  2.08166600e+00,  5.25427083e-01],
       [ 4.50000000e+01,  1.32000000e+02,  2.97000000e+02, ...,
        -2.00000000e-01, -4.80384461e-01,  5.25427083e-01],
       [ 3.60000000e+01,  1.12000000e+02,  3.40000000e+02, ...,
        -2.00000000e-01,  2.08166600e+00,  5.25427083e-01],
       ...,
       [ 4.60000000e+01,  1.40000000e+02,  2.75000000e+02, ...,
        -2.00000000e-01, -4.80384461e-01,  5.25427083e-01],
       [ 5.20000000e+01,  1.20000000e+02,  2.10000000e+02, ...,
        -2.00000000e-01, -4.80384461e-01,  5.25427083e-01],
       [ 5.10000000e+01,  1.50000000e+02,  2.00000000e+02, ...,
        -2.00000000e-01,  2.08166600e+00,  5.25427083e-01]])

In [26]:
y

241    1
73     0
17     0
60     0
283    1
      ..
21     0
215    1
79     0
123    0
119    0
Name: target, Length: 208, dtype: int64

In [27]:
x_train, y_train =  get_features_and_target_arrays(df_train,cat_cols,numerical_cols,scaler)

In [28]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [29]:
x_test, y_test =  get_features_and_target_arrays(df_train,cat_cols,numerical_cols,scaler)

In [30]:
test_pred=clf.predict(x_test)

In [31]:
mean_squared_error(y_test,test_pred)

0.16346153846153846

In [32]:
accuracy_score(y_test,test_pred)

0.8365384615384616

In [33]:
confusion_matrix(y_test,test_pred)

array([[119,  11],
       [ 23,  55]])

In [34]:
dc_clf = DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)

dlf_pred=dc_clf.predict(x_test)
print(mean_squared_error(y_test,dlf_pred))
print(accuracy_score(y_test,dlf_pred))

0.0
1.0

In [46]:
rc_clf = RandomForestClassifier()
rc_clf.fit(x_train,y_train)

rc_pred=rc_clf.predict(x_test)
print(mean_squared_error(y_test,rc_pred))
print(accuracy_score(y_test,rc_pred))

0.0
1.0

In [44]:
svm_clf = SVC()
svm_clf.fit(x_train,y_train)

svm_pred=svm_clf.predict(x_test)
print(mean_squared_error(y_test,svm_pred))
print(accuracy_score(y_test,svm_pred))

0.34134615384615385
0.6586538461538461